In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("kaggle_urls.csv")
df2 = pd.read_csv("kaggle_datasets.csv")

In [3]:
df = pd.concat([df1,df2], ignore_index= True)

In [4]:
df.shape

(29748, 2)

In [9]:
len(df.index[df.duplicated()==True])

0

In [6]:
df.drop_duplicates(inplace=True)

In [7]:
df.to_csv("kaggle_urls1.csv",index=False)

In [34]:
df.shape

(27060, 2)

In [33]:
df.iloc[[5510,10193]]

,Label,URL
5510,⚔ Dota 2 Pro League Matches 2016-2024 ⛨,https://www.kaggle.com/datasets/bwandowando/do...
10193,⚔ Dota 2 Pro League Matches 2016-2025 ⛨,https://www.kaggle.com/datasets/bwandowando/do...

In [32]:
df.drop(10193,inplace=False)

,Label,URL
0,Animal Crossing New Horizons Catalog,https://www.kaggle.com/datasets/jessicali9530/...
1,Credit Card Fraud Detection,https://www.kaggle.com/datasets/mlg-ulb/credit...
2,COVID-19 Open Research Dataset Challenge (CORD...,https://www.kaggle.com/datasets/allen-institut...
3,Netflix Movies and TV Shows,https://www.kaggle.com/datasets/shivamb/netfli...
4,Chest X-Ray Images (Pneumonia),https://www.kaggle.com/datasets/paultimothymoo...
...,...,...
29742,Warsaw Daily Weather Dataset,https://www.kaggle.com/datasets/mateuszk013/wa...
29744,France vehicles co2 emission [2013],https://www.kaggle.com/datasets/hetax17/france...
29745,All Terraria Weapons DPS V_1.4.4.9,https://www.kaggle.com/datasets/acr1209/all-te...
29746,Internationals Applying to US Colleges,https://www.kaggle.com/datasets/priyanshusethi...
29747,Used Cars Dataset,https://www.kaggle.com/datasets/andreinovikov/...